In [1]:
#veriler excell de gelirse ve veriler de eksik olursa axcell deki verilerle python aynı kalsörde olmalı
import pandas as pd

In [3]:
dataFrame=pd.read_excel("maas.xlsx")

In [4]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeynep   150  30.0      Satış
2     Mehmet   300  10.0        NaN
3      Ahmet   245  50.0  Pazarlama
4      Atlas   200   NaN     Finans
5      Fatma   250  25.0      Hukuk

In [6]:
#nan değerlerini silmek istiyoruz
doluDegerlerDataFrame=dataFrame.dropna()

In [7]:
doluDegerlerDataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeynep   150  30.0      Satış
3      Ahmet   245  50.0  Pazarlama
5      Fatma   250  25.0      Hukuk

In [9]:
#yeni data frame'i excelle kaydetmek istiyoruz
doluDegerlerDataFrame.to_excel("yenimaas.xlsx") #excell'e yaz

In [ ]:
#bazen exceller csv formatında virgülle ayrılmış şeklinde geliyor.
## read_csv
## to_csv